page-sign-details {
    .daily{ 
        background-color: aqua;
    }
    .dailyDesc{
        font-family: cursive;
    }
    .week{
        background-color: pink;

    }
    .weekDesc{
        font-family: cursive;
    }
    .month{
        background-color: burlywood;
    }
    .monthDesc{
        font-family: cursive;
    }
}
